svg{
    padding: 0px 45pt;
}
.chart-class{
    display: inline-block;
}
.container{
    text-align: center;
}
.liner-chart g text tspan{
    font-size: 3.5px !important;
    font-weight: 600;
}

h3{
    color: #333;
    font-size: 13pt;
}
.btn-group {
    width: 160px;
}
.open > .dropdown-menu {
    overflow-y: scroll;
    height: 200px;
}
.btn-toolbar {
    display: inline-block;
    margin-top: 5px;
}
